
*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}



@import "./Utils/variables";
@import "./Utils/mixins";


.headerPageAccueil /*parent*/ 
{
   @include border-main();
   @include flex-direction-colum();
    width: 100%;
  
 
    &__logo /*enfant 1 */ 
    {
        @include flex-center();
        
       
        &--modifierImg /*petit-enfant*/ 
        {
            width: 60%;
            padding: 15px; 
        }
    }
    .headerPageAccueil__localisation /*enfant 2*/ 
    {
        @include flex-direction-row();
        @include flex-center();
        
        padding: 18px; 
        background-color: $backgroundColorPrimaire;
        
        &__icone
        {
            size: 10px;
           
        }
        &__location-text
           {
            margin-left: 18px;
            font-size: 18px;
           }
        &__modif
            {
                font-size: 20px;
            }
    }
        
  
}


.main-recherche /*parent*/ 
{
    @include border-main(); 
    background-color: $backgroundColorSecondaire;
    padding: 23px;
    
    &__menuList /*enfant1*/ 
    {
       @include flex-center();
     
        &--retrouveListe /*petit-enfant*/ 
        {
           
            @include flex-direction-colum();
            
            width: 100%;
        }

        &--modifText
        {
            margin: 0px;
            @include flex-center();
            font-weight: bold;
            font-size: 27px;
            line-height: 15px;
            margin-top: 15px;
        }
        &--modifText1
        {
            margin: 0px;
            @include flex-center();
            font-size: 18px;
            line-height: 10px;
            margin-top: 18px;
            color: #6a6a6a;
        }
    }
    

    &__btn /*enfant2*/ 
    {
        @include flex-center();
    
    }
        &__btn--modifier /*petit enfant*/ 
        {
            background-image: linear-gradient(#FF79DA, #9356DC);
            @include border-radius-btn();
            @include mobile-only;
            box-shadow: 3px 3px 3px rgb(184, 184, 184);
          
        }
        &__btn--text-decoration
        {
           @include text-btn-recherche;
        }

}
.main-fonction
{
    @include border-main();
 
 
  
    &__texte
        {
        @include main-fonction-texte();  
          
        padding: 20px;    /*DRY*/ 
    }
    &__btn
    {
        @include flex-direction-colum();
        
        margin-bottom:10%; /*DRY*/ 
        
    }
        &__btn--modif 
      {
        @include button-modif;
        @include mobile-only;
       
   
      }
       &__btn--icone-modif

            {
                font-size: 25px;
                margin-right: 10px;
                text-decoration: none;
                color: black;
            }
        &__btn--modif-text
        {
            text-decoration: none;
            color: black;
        
        }
     
      
    

}




