
*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

a 
{
    text-decoration: none;
}


@import "./Utils/variables";
@import "./Utils/mixins";


/*Page d'accueil*/ 

.headerPageAccueil /*parent*/ 
{
   @include border-main();
   @include flex-direction-colum();
    width: 100%;
  
 
    &__logo /*enfant 1 */ 
    {
        @include flex-center();
        
       
        &--modifierImg /*petit-enfant*/ 
        {
            width: 60%;
            padding: 15px; 
        }
    }
    .headerPageAccueil__localisation /*enfant 2*/ 
    {
        @include flex-direction-row();
        @include flex-center();
        
        padding: 18px; 
        background-color: $backgroundColorPrimaire;
        
        &__icone
        {
            size: 10px;
           
        }
        &__location-text
           {
            margin-left: 18px;
            font-size: 18px;
           }
        &__modif
            {
                font-size: 20px;
            }
    }
        
  
}


.main-recherche /*parent*/ 
{
    @include border-main(); 
    background-color: $backgroundColorSecondaire;
    padding: 23px;
    
    &__menuList /*enfant1*/ 
    {
       @include flex-center();
     
        &--retrouveListe /*petit-enfant*/ 
        {
           
            @include flex-direction-colum();
            
            width: 100%;
        }

        &--modifText
        {
            margin: 0px;
            @include flex-center();
            font-weight: bold;
            font-size: 27px;
            line-height: 15px;
            margin-top: 15px;
        }
        &--modifText1
        {
            margin: 0px;
            @include flex-center();
            font-size: 18px;
            line-height: 10px;
            margin-top: 18px;
            color: #6a6a6a;
        }
    }
    

    &__btn /*enfant2*/ 
    {
        @include flex-center();
    
    }
        &__btn--modifier /*petit enfant*/ 
        {
           
            @include border-radius-btn();
            @include mobile-only;
            @include btn--modifier;
          
        }
        &__btn--text-decoration
        {
           @include text-btn-recherche;
        }

}

.main-fonction
{
    @include border-main();
  
    &__texte
        {
        @include main-fonction-texte;  
          
        padding: 20px;    /*DRY*/ 
    }
    &__btn
    {
        @include flex-direction-colum;
        
        margin-bottom:10%; /*DRY*/ 
        
    }
        &__btn--modif 
      {
        @include button-modif;
        @include mobile-only;
        
      }
      &__btn--icone-modif
      {
       @include icone-modif;
      }


       &__btn--icone-modif1

      {
        @include icone-modif1;      
     }

        &__btn--modif-text
        {
         @include modif-text;
        }
}

button:hover
{
    background-color: $colourHoverBtn;
    
}
.main-fonction__btn--modif:hover > .main-fonction__btn--modif-text  > .main-fonction__btn--icone-modif1 

{
    color: blueviolet;
}


/*main 3 */ 
.main-restaurants
{
    background-color: $backgroundColorPrimaire; 
    @include border-main; 
    &__texte
    {
        @include main-fonction-texte; 
    }
    &__bloc-img
    {
        width: 95%;
        border-radius: 20px;
        margin: 10px;
        background-color: white;
        height: 260px;
    }

        &__bloc-img--image1
            {
                width: 100%;
                object-fit: cover;
                height: 65%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px; 
        }
        &__bloc--text1Image1
        {
         font-weight: bold;
         font-size: 20px;
         margin-left: 9px;
         
        }
        &__bloc--text2Image1
        {
        
            font-weight: inherit;
            font-size: 15px;
            margin-top: -10px;
            margin-left: 11px; 
        }
    
        &__bloc--cadreNouveau
        {
            justify-content: center;
            display: flex;
            align-items: center;
            width: 25%;
            height: 5%;
            background-color: #99E2D0;
            position: absolute;
            margin-top: 17px;
            margin-left: 64%;

        }
        &__bloc--text3Image1
        {
            font-size: 17px;
            font-weight: bold;
            color: #008563e3;
        }
        &__heart 
        {
          
            display: flex;
            justify-content: center;
            margin-top: -17%;
            margin-left: 85%;
            font-size: 35px;
            cursor: pointer;
            animation: heart 1s ease;
            background-image: linear-gradient(  $couleurPrimaire,
            $couleurSecondaire);
            width:fit-content;
        }
        &__heart--icone
        {
            font-weight: lighter;

        }
       
}

@keyframes heart {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }


/*  Footer*/ 
.FooterPageAccueil
{ 
    @include border-main();
    background-color: rgba(0, 0, 0, 0.747);
    padding: 20px;
    &__logo
    {
        width: 50%;
        
    }
        &__logo--textModif
        {
            color: white;
            font-weight: bold;
            font-style: italic;
            font-size: 15px;
        }

    &__text
    {
        color: white;
        font-size: 15px;
        font-weight: bold;
        display: flex;
        flex-direction:row;
        margin-bottom: 5px;
      

        
    }
        &__text--icon-4
        {
            margin-right: 10px;

        }
}


/*page menu 1 Menu - A╠Ç la franc╠ºaise*/ 



