$breakpoints : 
(mobile:668px,
    tablet:768px,
    desktop:1600px,
);

@media (min-width:768px) and (max-width: 1600px) {
    .headerPageAccueil {

        @include flex-direction-colum();

       &__logo {
            @include flex-center();

            &--modifierLogoAccueil {
                width: 20%;
                
            }
        }

    }

    .main-recherche {
        &__btn--modifier {
            width: 25%;
        }
    }

    .main-fonction {

        &__texte {
            @include main-fonction-texte;
        }

        &__btn {
            @include flex-direction-row;
            margin: 0;
            &--modif {
                width: 30%;
                margin-bottom: 2%;
            }

        }

    }

    .main-restaurants {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        justify-content: center;

        &__bloc-img {
            width: 50%;
            height: 300px;

            &--cadreNouveau {
               
                margin-left: 36%;
                width: 8%;
            }
        }

        &__displayDesktop{
            display: flex;
        }
    

    }

  
    .FooterPageAccueil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

}