*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


@import "./utils/_variables";
@import "./utils/_mixins";
@import "./utils/_animation";


/*Page d'accueil*/

.headerPageAccueil

/*parent*/
    {

    @include flex-direction-colum();
    width: 100%;


    &__logo

    /*enfant 1 */
        {
        @include flex-center();


        &--modifierLogoAccueil

        /*petit-enfant--LOGO*/
            {
            @include modifierLogoAccueil;
        }
    }

    .headerPageAccueil__localisation

    /*enfant 2--LOCALISATION*/
        {
        @include flex-direction-row();
        @include flex-center();
        @include localisation;

        &--icone {
            size: 10px;

        }

        &--modif {
            font-size: 20px;
        }

        &--text {
            margin-left: 18px;
            /*le mixin ne fonctionne pas */
            font-size: 18px;
        }

    }


}


.main-recherche

/*parent*/
    {
   
    background-color: $backgroundColorSecondaire;
    padding: 23px;

    &__menuList

    /*enfant1*/
        {
        @include flex-center();

        &--retrouveListe

        /*petit-enfant*/
            {

            @include flex-direction-colum();

            width: 100%;
        }

        &--modifText {
            margin: 0px;
            @include flex-center();
            font-weight: $font-weight;
            font-size: 27px;
            line-height: 15px;
            margin-top: 15px;
        }

        &--modifText1 {
            margin: 0px;
            @include flex-center();
            font-size: 18px;
            line-height: 10px;
            margin-top: 18px;
            color: #6a6a6a;
        }
    }


    &__btn

    /*enfant2*/
        {
        @include flex-center();


        &--modifier

        /*petit enfant*/
            {

            @include border-radius-btn();
            @include mobile-only;
            @include btn--modifier;

        }

        &--text-decoration {
            @include text-btn-recherche;
        }
    }
}

.main-fonction {
   

    &__texte {
        @include main-fonction-texte;

        padding: 20px;
        /*DRY*/
    }

    &__btn {
        @include flex-direction-colum;

        margin-bottom: 10%;
        /*DRY*/
        &--modif {
            @include button-modif;
            @include mobile-only;
    
        }
        &--modif-text {
            @include modif-text;
        }
        &--icone-modif1 {
            @include icone-modif1;
        }
        
        &--icone-modif {
            @include icone-modif;
        }

    }
   
}

button:hover {
    background-color: $colourHoverBtn;

}

.main-fonction__btn--modif:hover>.main-fonction__btn--modif-text>.main-fonction__btn--icone-modif1 {
    color: $couleurPrimaire;
}


/*main 3 */
.main-restaurants {
    background-color: $backgroundColorSecondaire;
    

    &__texte {
        @include main-fonction-texte;
    }
    &__heart {
       @include heart;

        &:hover::before {
            opacity: 1;
        }

        &::before {
           @include heart_before;
        }
    }

    &__like {
       @include like;
    }

    &__heart:hover {
        .menu__like {
            &--noBg {
                opacity: 0;
            }
        }
    }


    &__bloc-img {
        @include bloc-img-restaurant;
        @include mobile-only;
   
        &--cadreNouveau {
            @include flex-center;
            @include cadreNouveau;
    
        }
        &--text-nouveau-restaurant {
            @include text-nouveau-restaurant;
        }
    
        &--restaurant-modif {
            @include image-restaurant-specif;
            @include border-radius-img;
        }
        &--text1ImageRestaurant {
            @include text1ImageRestaurant;
            margin-bottom: 4px;
        }
        &--text2ImageRestaurant {

            @include text2ImageRestaurant;
        }
       
    
    }

}

/*  Footer*/
.FooterPageAccueil {
 
    @include FooterPageAccueil;

    &__logo {
        width: 50%;
        &--textModifLogofooter {
            @include textLogoFooter;
        }
    
    }

 
    &__textFooter {
        @include textfootermodif;
        &--icon-4 {
            margin-right: 10px;
    
        }
    }


}


/*page menu 1 Menu - A╠Ç la franc╠ºaise*/

