*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animation";
@import "./breakpoints.scss";

/*loader*/
@include loader;

/*header*/
.headerPageAccueil {
    @include flex-direction-colum();

    width: 100%;

    &__logo {
        @include flex-center();
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.82);

        &--modifierLogoAccueil {
            @include modifierLogoAccueil;

        }
    }

    &__localisation {
        @include flex-direction-row();
        @include flex-center();
        @include localisation;

        &--icone {

            font-size: 18px;
        }

        &--text {
            @include localisation-text;
        }

    }


}


.main-description {

    @include main-description;
    @include flex-direction-colum;

    &__menuList {
        @include flex-direction-colum;

        &--retrouveListe {

            line-height: 5px;
        }

        &--modifText {

            @include flex-center();
            @include modifTextMainDescription;

        }

        &--modifText1 {

            @include flex-center();
            @include modifText1MainDescription;
        }
    }


    &__btn {
        @include flex-center();


        &--modifier {

            @include btn--modifier-main-description();
            @include mobile-only;

        }

        &--text-decoration {
            @include text-btn-recherche;
        }
    }
}

.main-fonction {


    &__texte {
        @include main-fonction-texte;

    }

    &__btn {
        @include flex-direction-colum;
        

        margin-bottom: 10%;

        /*DRY*/
        &--modif {
            @include button-modif-fonctionnement;
            @include mobile-only;

        }

        &--modif-text {
            @include modif-text;
        }

        &--icone-modif1 {
            @include icone-modif1;
        }

        &--icone-modif {
            @include icone-modif;
        }

    }

}

button:hover {
    background-color: $colourHoverBtn;

}

.main-fonction__btn--modif:hover>.main-fonction__btn--modif-text>.main-fonction__btn--icone-modif1 {
    color: $couleurPrimaire;
}


/*main 3 */
.main-restaurants {
    background-color: $backgroundColorSecondaire;
    height: 1180px;
    @include flex-direction-colum;

    &__texte {
        @include main-restaurant-texte;
    }

    &__heart {
        @include heart;

        &:hover::before {
            opacity: 1;
        }

        &::before {
            @include heart_before;
        }
    }

    &__like {
        @include like;
    }

    &__heart:hover {
        .menu__like {
            &--noBg {
                opacity: 0;
            }
        }
    }


    &__bloc-img {
        @include bloc-img-restaurant;
        @include mobile-only;

        &--cadreNouveau {
            @include flex-center;
            @include cadreNouveau;

        }

        &--text-nouveau-restaurant {
            @include text-nouveau-restaurant;
        }

        &--restaurant-modif {
            @include image-restaurant-specif;
            @include border-radius-img;
        }

        &--text1ImageRestaurant {
            @include text1ImageRestaurant;
            margin-bottom: 4px;
        }

        &--text2ImageRestaurant {

            @include text2ImageRestaurant;
        }


    }

}

/*  Footer*/
.FooterPageAccueil {

    @include FooterPageAccueil;

    &__logo {
        width: 50%;

        &--textModifLogofooter {
            @include textLogoFooter;
        }

    }


    &__textFooter {
        @include textfootermodif;

        &--icon-4 {
            margin-right: 10px;

        }
    }


}

/*Responsive*/ 

@media (min-width:669px) and (max-width: 1800px) {
    .headerPageAccueil {

        &__logo {
            @include flex-center();

            &--modifierLogoAccueil {
                width: 20%;

            }
        }

    }

    .main-description {
        &__btn--modifier {
            width: 25%;
        }
    }

    .main-fonction {

        &__texte {
            @include main-fonction-texte;
            text-align: center;
        }

        &__btn {
            @include flex-direction-row;
            justify-content: center;
            margin: 0;

            &--modif {
                width: 30%;
                margin-bottom: 2%;
            }

        }

    }

    .main-restaurants {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        height: 810px;

        &__bloc-img {
            width: 50%;
            height: 300px;

            &--cadreNouveau {

                margin-left: 36%;
                width: 8%;
            }
        }

        &__displayDesktop {
            display: flex;
        }


    }


    .FooterPageAccueil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

}