*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto';

}

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


@import "./utils/_variables";
@import "./utils/_mixins";
@import "./utils/_animation";



