*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

body
{
    width: 100%;
    height: 100%;
    background: #737373;

}

@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/animation";

/*loader 
.ring
  {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
     &__ring::before
     {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      box-shadow: 0 0 rgba(255,255,255,.3);
     }
   
  }
  &__test
  {
     background-color: rgb(0, 0, 0);
     animation: test 2s linear infinite;
     position: relative;
  }

span
{
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  line-height: 200px;
  animation:text 2s ease-in-out infinite;
}
@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #9356DC;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #FF79DA;
  }
 100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #99E2D0;
  }

}

@keyframes text {
  0%{
    color:#99E2D0;
  }
  50%{
    color:#FF79DA;
  }
  50%{
    color:#9356DC ;
  }
}
@keyframes test {
    0%{
      opacity: 0;
    }
  50%{
      opacity: 1 ;
    }
  }
*/
/*Page d'accueil*/

.headerPageAccueil

/*parent*/
    {
    @include border-main();
    @include flex-direction-colum();
    width: 100%;


    &__logo

    /*enfant 1 */
        {
        @include flex-center();


        &--modifierLogoAccueil

        /*petit-enfant--LOGO*/
            {
            @include modifierLogoAccueil;
        }
    }

    .headerPageAccueil__localisation

    /*enfant 2--LOCALISATION*/
        {
        @include flex-direction-row();
        @include flex-center();
        @include localisation;

        &--icone {
            size: 10px;

        }

        &--modif {
            font-size: 20px;
        }

        &--text {
            margin-left: 18px;
            /*le mixin ne fonctionne pas */
            font-size: 18px;
        }

    }


}


.main-recherche

/*parent*/
    {
    @include border-main();
    background-color: $backgroundColorSecondaire;
    padding: 23px;

    &__menuList

    /*enfant1*/
        {
        @include flex-center();

        &--retrouveListe

        /*petit-enfant*/
            {

            @include flex-direction-colum();

            width: 100%;
        }

        &--modifText {
            margin: 0px;
            @include flex-center();
            font-weight: $font-weight;
            font-size: 27px;
            line-height: 15px;
            margin-top: 15px;
        }

        &--modifText1 {
            margin: 0px;
            @include flex-center();
            font-size: 18px;
            line-height: 10px;
            margin-top: 18px;
            color: #6a6a6a;
        }
    }


    &__btn

    /*enfant2*/
        {
        @include flex-center();


        &--modifier

        /*petit enfant*/
            {

            @include border-radius-btn();
            @include mobile-only;
            @include btn--modifier;

        }

        &--text-decoration {
            @include text-btn-recherche;
        }
    }
}

.main-fonction {
    @include border-main();

    &__texte {
        @include main-fonction-texte;

        padding: 20px;
        /*DRY*/
    }

    &__btn {
        @include flex-direction-colum;

        margin-bottom: 10%;
        /*DRY*/
        &--modif {
            @include button-modif;
            @include mobile-only;
    
        }
        &--modif-text {
            @include modif-text;
        }
        &--icone-modif1 {
            @include icone-modif1;
        }
        
        &--icone-modif {
            @include icone-modif;
        }

    }
   
}

button:hover {
    background-color: $colourHoverBtn;

}

.main-fonction__btn--modif:hover>.main-fonction__btn--modif-text>.main-fonction__btn--icone-modif1 {
    color: $couleurPrimaire;
}


/*main 3 */
.main-restaurants {
    background-color: $backgroundColorSecondaire;
    @include border-main;

    &__texte {
        @include main-fonction-texte;
    }
    &__heart {
        float: right;
        margin: inherit;
        height: 35px;
        width: 35px;
        background-color: transparent;
        border: transparent 0px solid;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        background-color: black;

        &:hover::before {
            opacity: 1;
        }

        &::before {
            opacity: 0;
            transition: 0.5s;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, $couleurPrimaire 0%, $couleurSecondaire 100%);
        }
    }

    &__like {
        transition-duration: .25s;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        mix-blend-mode: lighten;
    }

    &__heart:hover {
        .menu__like {
            &--noBg {
                opacity: 0;
            }
        }
    }


    &__bloc-img {
        @include bloc-img-restaurant;
   
        &--cadreNouveau {
            @include flex-center;
            @include cadreNouveau;
    
        }
        &--text-nouveau-restaurant {
            @include text-nouveau-restaurant;
        }
    
        &--restaurant-modif {
            @include image-restaurant-specif;
            @include border-radius-img;
        }
        &--text1ImageRestaurant {
            @include text1ImageRestaurant;
            margin-bottom: 4px;
        }
        &--text2ImageRestaurant {

            @include text2ImageRestaurant;
        }
       
    
    }

}

/*  Footer*/
.FooterPageAccueil {
    @include border-main();
    @include FooterPageAccueil;

    &__logo {
        width: 50%;
        &--textModifLogofooter {
            @include textLogoFooter;
        }
    
    }

 
    &__textFooter {
        @include textfootermodif;
        &--icon-4 {
            margin-right: 10px;
    
        }
    }


}


/*page menu 1 Menu - A╠Ç la franc╠ºaise*/

