/*les mixins */
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
         grid-template-columns: max-content;
        transition: all 600ms ease-in-out;

        &:hover {
            transform: scale(1.02);

        }
    }

}

@mixin loader {
    .loader {
        position: fixed;
        inset: 0;
        z-index: 10000;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: 100%;
        background: black;
        width: 100%;
        animation: disparition 1s 1s both;

        &__ring {
            position: absolute;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            animation: ring 3s linear infinite;

            &__ring::before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                box-shadow: 0 0 rgba(255, 255, 255, .3);

            }
        }
    }

    span {
        color: #737373;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1.25px;
        line-height: 200px;

    }
}

@mixin border-main {
    border: 5px solid red;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin modifierLogoAccueil {
    width: 60%;
    padding: 15px;
}

@mixin localisation {

    padding: 15px;
    background-color: $backgroundColorPrimaire;
}

@mixin localisation-text {
    margin-left: 15px;
    font-size: 16px;
}

@mixin main-description {
    background-color: $backgroundColorSecondaire;
    padding: 23px;

}

@mixin modifTextMainDescription {

    font-weight: $font-weight;
    font-size: 23px;
}

@mixin modifText1MainDescription {
    font-size: 17px;
    color: $couleurText;
}

@mixin btn--modifier-main-description {
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 35px;
    height: 63px;
    width: 75%;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;

}

@mixin flex-direction-colum {
    display: flex;
    flex-direction: column;
}

@mixin flex-direction-row {
    display: flex;
    flex-direction: row;
}

@mixin text-btn-recherche {
    text-decoration: none;
    color: white;
    font-size: 18px
}

@mixin main-fonction-texte {
    font-size: 23px;
    font-weight: bold;
    margin: 51px 34px 38px 15px;


}
@mixin main-restaurant-texte {
    font-size: 23px;
font-weight: bold;
margin: 44px 24px -10px 15px;
}
@mixin button-modif-fonctionnement {

    margin-left: 20px;
    margin-bottom: 7%;
    border-radius: 30px;
    cursor: pointer;
    width: 90%;
    height: 91PX;
    box-shadow: 3px 5px 3px 1px rgba(0, 0, 0, 0.11);
    background-color: #f6f6f6;
    margin-top: -10px;
}

@mixin icone-modif {
    border: $couleurPrimaire solid 3px;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: $couleurPrimaire;
    color: white;
    font-size: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -21px;
    margin-left: -15px;
}



@mixin icone-modif1 {
    font-size: 18px;
    padding-right: 20px;
    text-decoration: none;
    color: #0000005c;

}

@mixin modif-text {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@mixin border-radius-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@mixin bloc-img-restaurant {
    width: 95%;
    border-radius: $border-radius;
    margin-top: 25px;
    margin-left: 10px;
    background-color: $backgroundColor-white;
    height: 240px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
}

@mixin image-restaurant-specif {
    width: 100%;
    object-fit: cover;
    height: 65%;
}

@mixin text1ImageRestaurant {
    font-weight: $font-weight;
    font-size: 20px;
    margin-left: 9px;
}

@mixin text2ImageRestaurant {
    font-weight: inherit;
    font-size: 15px;
    margin-top: -10px;
    margin-left: 11px;
}

@mixin cadreNouveau {
    align-items: center;
    width: 25%;
    height: 5%;
    background-color: $couleurTertiaire;
    position: absolute;
    margin-top: 17px;
    margin-left: 64%;
    
}

@mixin text-nouveau-restaurant {
    font-size: 17px;
    font-weight: $font-weight;
    color: $couleurTertiaire1;
}

@mixin heart {
    margin-top: -17%;
    margin-left: 85%;
    font-size: 35px;
    cursor: pointer;
    animation: heart 1s ease;
    width: fit-content;
    font-weight: 400;
}

/*Footer*/
@mixin FooterPageAccueil {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 20px;
}

@mixin textLogoFooter {
    color: $backgroundColor-white;
    font-weight: $font-weight;
    font-style: italic;
    font-size: 21px;
}

@mixin textfootermodif {
    color: $backgroundColor-white;
    font-size: 15px;
    font-weight: $font-weight;
    margin-bottom: 10px;

    
}

@mixin heart {
    float: right;
    margin: inherit;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: black;
    right: 10%;
}



@mixin heart_before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, $couleurPrimaire 0%, $couleurSecondaire 100%);
}

@mixin like {
    transition-duration: .25s;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
}

@mixin like_menus {
    transition-duration: .25s;
    background-color: $backgroundColorSecondaire;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
}

/*menus  */

@mixin img_position {
    background-color: $backgroundColorSecondaire;
    position: relative;
}

@mixin border-radius-top-leftRight {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

@mixin text_menus {
    font-size: 28px;
    font-style: italic;
    font-family: "Shrikhand", "cursive";
}

@mixin text1_menus {
    text-transform: uppercase;
    margin-left: 20px;

}

@mixin heart_menus {
    float: right;
    margin: inherit;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: black;
    margin-top: 20px;
}

@mixin barreVerte {
    border: solid #99E2D0 2px;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 18px;

}

@mixin menuList {
    width: 95%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    line-height: 0;
    border: solid 2px white;
    border-radius: 15px;
    height: 60px;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 3px 3px rgb(226, 226, 226);
    cursor: pointer;
    color: black;
}

@mixin menuList-textModif1 {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
}

@mixin menuList-textModif2 {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    opacity: 0.5;
    cursor: pointer;
    color: black;
}

@mixin price-menus {
    margin-right: 27px;
    margin-top: -17px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}

@mixin menus-barreAnimation {
    width: 17%;
    height: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColorcouleurTertiaire;
    margin-left: 83%;
    box-shadow: 3px 3px rgb(226, 226, 226);
    cursor: pointer;
}


/*page-menu-phone*/ 

@mixin textentreeplatsdissert {
    font-size: 15px;
    margin-bottom: 5px;
    opacity: 0.6;
    margin-top: 30px;
}