/*les variables */ 
$couleurPrimaire: #9356DC;
$couleurSecondaire:#FF79DA;
$couleurTertiaire:#99E2D0; 
$couleurTertiaire1:#008563e3;
$backgroundColorPrimaire:rgba(224, 224, 224, 0.94); 
$backgroundColorSecondaire: #F2F2F2;
$colourHoverBtn : #6d00fc11;
$font-weight: bold;
$border-radius :20px;
$backgroundColor-white:white;
$backgroundColorcouleurTertiaire:#99E2D0; 

$breakpoints : (
    mobile:668px
);