*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


@import "../utils/variables";
@import "../utils/mixins";
@import "../breakpoints.scss";

/*header*/


.headerPageAccueil {


    &__logo {
        @include flex-direction-row;
        @include modifierLogoAccueil;
        justify-content: space-between;
    }

    &__logo--modifierLogoAccueil {
        @include imglogo;
    }

    &__logo--arrowicone {
        @include icone;
    }
}

/*main*/

.mainImgRestaurantImg {

    margin-bottom: -15%;

    &__img-restaurant {

        @include Imgrestaurantpages;
    }
}

.mainCarteRestaurant {

    @include border-radius-top-leftRight;
    @include img_position;
}

.mainCarteRestauranMenus {
    &__blocText {
        @include flex-direction-row;
        justify-content: space-around;
        @include border-radius-top-leftRight;

        &--modif {
            @include text_menus;
        }
    }

    &__heart {
        @include heart_menus;

        &:hover::before {
            opacity: 1;
        }

        &::before {
            @include heart_before;
        }
    }

    &__like {
        @include like_menus;
    }

    &__heart:hover {
        .menu__like {
            &--noBg {
                opacity: 0;
            }
        }
    }

    &__text {
        @include text1_menus;

        &--modif {
            @include textentreeplatsdissert;

        }

        &--barreVerteMenus {
            @include barreVerte;
        }
    }


    &__btn {
        @include flex-center();

        &--modifier {

            @include btn--modifier-main-description;
            @include mobile-only;

        }

        &--text-decoration {
            @include text-btn-recherche;
        }
    }
}

.menuListRestaurant {

    @include menuListRestaurantpages;

    &__descriptionMenu {

        @include descriptionmenus;

        &--titre {
            @include descriptionmenusTitle;
        }

        &--description {
            font-size: 13px;
            opacity: 0.5;

        }
    }

    &__price {
        @include price;
    }

    &__confirmation {

        @include menuconfirmation;

    }

    &:hover &__confirmation {
        margin-right: -1rem;
    }

    &__iconCheckContent {

        @include iconCheckContent;
    }

    &:hover &__iconCheckContent {
        transform: rotate(0);
    }

    &__iconCheck {
        color: white;
        font-size: 18px;
    }


}


/*  Footer*/
.FooterPageAccueil {

    @include FooterPageAccueil;

    &__logo {
        width: 50%;

        &--textModifLogofooter {
            @include textLogoFooter;
        }

    }


    &__textFooter {
        @include textfootermodif;

        &--icon-4 {
            margin-right: 10px;

        }
    }


}

/*Responsive*/
@media (min-width:669px) and (max-width: 1800px) {

    .mainImgRestaurantImg {
        margin: 0;
    }

    .mainCarteRestauranMenus__blocText {

        justify-content: center;
        margin-left: 10px;
    }

    .mainCarteRestaurantBlock {
        display: flex;

        &__entreeplatsdessert {
            width: 33%;
        }

    }


    .mainCarteRestauranMenus__btn--modifier {
        width: 20%;

    }



    .FooterPageAccueil {

        @include footerresponsive;
    }

}