*,
::after,
::before {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/*les variables */ /*les mixins */
/*Footer*/
/*menus  */
/*page-menu-phone*/
/*Responsive page accueil*/
/*Responsive pages menu*/
/*les mixins */
/*Footer*/
/*menus  */
/*page-menu-phone*/
/*Responsive page accueil*/
/*Responsive pages menu*/
/*header*/
.headerPageAccueil__logo {
  display: flex;
  flex-direction: row;
  width: 60%;
  padding: 15px;
  justify-content: space-between;
}
.headerPageAccueil__logo--modifierLogoAccueil {
  width: 60%;
  margin-right: -39px;
}
.headerPageAccueil__logo--arrowicone {
  margin-top: 5px;
  margin-left: 10px;
  color: black;
}

/*main*/
.mainImgRestaurantImg {
  margin-bottom: -15%;
}
.mainImgRestaurantImg__img-restaurant {
  width: 100%;
  height: 264px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainCarteRestaurant {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #F2F2F2;
  position: relative;
}

.mainCarteRestauranMenus__blocText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.mainCarteRestauranMenus__blocText--modif {
  font-size: 28px;
  font-style: italic;
  font-family: "Shrikhand", "cursive";
}
.mainCarteRestauranMenus__heart {
  float: right;
  margin: inherit;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
  margin-top: 20px;
}
.mainCarteRestauranMenus__heart:hover::before {
  opacity: 1;
}
.mainCarteRestauranMenus__heart::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.mainCarteRestauranMenus__like {
  transition-duration: 0.25s;
  background-color: #F2F2F2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.mainCarteRestauranMenus__heart:hover .menu__like--noBg {
  opacity: 0;
}
.mainCarteRestauranMenus__text {
  text-transform: uppercase;
  margin-left: 20px;
}
.mainCarteRestauranMenus__text--modif {
  font-size: 15px;
  margin-bottom: 5px;
  opacity: 0.6;
  margin-top: 30px;
}
.mainCarteRestauranMenus__text--barreVerteMenus {
  border: solid #99E2D0 2px;
  width: 40px;
  margin-bottom: 15px;
  margin-left: 18px;
}
.mainCarteRestauranMenus__btn {
  display: flex;
  justify-content: center;
}
.mainCarteRestauranMenus__btn--modifier {
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 35px;
  height: 63px;
  width: 75%;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  border: transparent;
}
@media screen and (max-width: 668px) {
  .mainCarteRestauranMenus__btn--modifier {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    transition: all 600ms ease-in-out;
  }
  .mainCarteRestauranMenus__btn--modifier:hover {
    transform: scale(1.02);
  }
}
.mainCarteRestauranMenus__btn--text-decoration {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: inherit;
}

.menuListRestaurant {
  height: 60px;
  background-color: white;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  margin: 10px 8px;
  box-shadow: 3px 3px rgb(226, 226, 226);
  overflow: hidden;
  cursor: pointer;
  line-height: 20px;
  -webkit-animation: itemAppear 1s;
          animation: itemAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}
.menuListRestaurant__descriptionMenu {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuListRestaurant__descriptionMenu--titre {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
}
.menuListRestaurant__descriptionMenu--description {
  font-size: 13px;
  opacity: 0.5;
}
.menuListRestaurant__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 20px;
  font-size: 13px;
}
.menuListRestaurant__confirmation {
  cursor: pointer;
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
}
.menuListRestaurant:hover .menuListRestaurant__confirmation {
  margin-right: -1rem;
}
.menuListRestaurant__iconCheckContent {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 2s;
}
.menuListRestaurant:hover .menuListRestaurant__iconCheckContent {
  transform: rotate(0);
}
.menuListRestaurant__iconCheck {
  color: white;
  font-size: 18px;
}

/*  Footer*/
.FooterPageAccueil {
  background-color: rgba(0, 0, 0, 0.747);
  padding: 20px;
}
.FooterPageAccueil__logo {
  width: 50%;
}
.FooterPageAccueil__logo--textModifLogofooter {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 21px;
}
.FooterPageAccueil__textFooter {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 3px;
  display: flex;
}
.FooterPageAccueil__textFooter--icon-4 {
  margin-right: 10px;
}

/*Responsive*/
@media (min-width: 669px) and (max-width: 1800px) {
  .mainImgRestaurantImg {
    margin: 0;
  }
  .mainCarteRestauranMenus__blocText {
    justify-content: center;
    margin-left: 10px;
  }
  .mainCarteRestaurantBlock {
    display: flex;
  }
  .mainCarteRestaurantBlock__entreeplatsdessert {
    width: 33%;
  }
  .mainCarteRestauranMenus__btn--modifier {
    width: 20%;
  }
  .FooterPageAccueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}/*# sourceMappingURL=page-menu-phone.css.map */