*,
::after,
::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


@import "../utils/variables";
@import "../utils/mixins";
@import "../breakpoints.scss";

/*header*/


.headerPageAccueil {


    &__logo {
        @include flex-direction-row;
        @include modifierLogoAccueil;
        justify-content: space-between;
    }

    &__logo--modifierLogoAccueil {
        width: 60%;
        margin-right: -39px;
    }

    &__logo--arrowicone {
        margin-top: 5px;
        margin-left: 10px;
        color: black;
    }
}

/*main*/

.mainImgRestaurantImg {

    margin-bottom: -15%;

    &__img-restaurant {
        width: 100%;
        height: 264px;
        object-fit: cover;

    }
}

.mainCarteRestaurant {

    @include border-radius-top-leftRight;
    @include img_position;
}

.mainCarteRestauranMenus {
    &__blocText {
        @include flex-direction-row;
        justify-content: space-around;
        @include border-radius-top-leftRight;

        &--modif {
            @include text_menus;
        }
    }

    &__heart {
        @include heart_menus;

        &:hover::before {
            opacity: 1;
        }

        &::before {
            @include heart_before;
        }
    }

    &__like {
        @include like_menus;
    }

    &__heart:hover {
        .menu__like {
            &--noBg {
                opacity: 0;
            }
        }
    }

    &__text {
        @include text1_menus;

        &--modif {
            @include textentreeplatsdissert;

        }

        &--barreVerteMenus {
            @include barreVerte;
        }
    }


    &__btn {
        @include flex-center();

        &--modifier {

            @include btn--modifier-main-description;
            @include mobile-only;

        }

        &--text-decoration {
            @include text-btn-recherche;
        }
    }
}

.menuListRestaurant {

    height: 60px;
    background-color: $backgroundColor-white;
    padding: 10px;
    display: flex;
    border-radius: 15px;
    margin: 10px 8px;
    box-shadow: 3px 3px rgb(226, 226, 226);
    overflow: hidden;
    cursor: pointer;
    line-height: 20px;
    animation: itemAppear 1s;
    animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
    animation-fill-mode: both;
    transform: scale(0);


    &__descriptionMenu {

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;

        &--titre {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 15px;
        }

        &--description {
            font-size: 13px;
            opacity: 0.5;

        }
    }

    &__price {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 20px;
        font-size: 13px;
    }

    &__confirmation {

        cursor: pointer;
        background-color: $backgroundColorcouleurTertiaire;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 1s;


    }

    &:hover &__confirmation {
        margin-right: -1rem;
    }

    &__iconCheckContent {
        height: 1.6rem;
        width: 1.6rem;
        background-color: $couleurTertiaire;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 2s;

    }

    &:hover &__iconCheckContent {
        transform: rotate(0);
    }

    &__iconCheck {
        color: white;
        font-size: 18px;
    }


}


/*  Footer*/
.FooterPageAccueil {

    @include FooterPageAccueil;

    &__logo {
        width: 50%;

        &--textModifLogofooter {
            @include textLogoFooter;
        }

    }


    &__textFooter {
        @include textfootermodif;

        &--icon-4 {
            margin-right: 10px;

        }
    }


}

/*Responsive*/
@media (min-width:669px) and (max-width: 1800px) {

    .mainImgRestaurantImg {
        margin: 0;
    }

    .mainCarteRestauranMenus__blocText {
        
        justify-content: center;
        margin-left: 10px;  
     }

    .mainCarteRestaurantBlock {
        display: flex;

        &__entreeplatsdessert {
            width: 33%;
        }

    }


    .mainCarteRestauranMenus__btn--modifier {
        width: 20%;

    }



    .FooterPageAccueil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

}