/*les variables */ 
$couleurPrimaire: #9356DC;
$couleurSecondaire:#FF79DA;
$couleurTertiaire:#99E2D0; 
$backgroundColorPrimaire:#e0e0e0aa; 
$backgroundColorSecondaire:rgba(219, 219, 219, 0.2);
$colourHoverBtn : #6d00fc11;
$breakpoints : (
    mobile:667px
); 